@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* 
:root {
    --main-dark-color: #070A27;
    --main-light-color: #fff;
    --cool-dark-color: #302851;
    --light-purple: #6045C9;

} */


/* ::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--main-dark-color);
}

::-webkit-scrollbar-thumb {
    background: var(--light-purple);
    border-radius: 100px;
} */

.body {
    font-family: 'Poppins', sans-serif;
}

.heading {
    width: 100%;
    background: url(/Background.png) no-repeat;
    background-size: cover;
    height: 100vh;
    margin-bottom: 20px;
}

.navbar {
    /* add shadow */
    box-shadow: 0px 5px 100px rgba(203, 72, 255, 0.1);
}

.logo img {
    width: 100px;
}

  .icons {
    display: flex;
    flex-direction: column;
  }
  .icons .navLink {
    padding-right: 1em;
  }
  
  .navbar {
    background-color: #302851 !important;
    border-radius: 0 0 25px 25px;
    -webkit-border-radius: 0 0 25px 25px;
    -moz-border-radius: 0 0 25px 25px;
    -ms-border-radius: 0 0 25px 25px;
    -o-border-radius: 0 0 25px 25px;
}

@media (max-width: 767px) {
    .icons {
        display: flex !important;
        flex-direction: row !important;
    }
}

.content .texts {
    margin-top: 200px;
    color: #fff;
}

.content .texts h1 {
    font-weight: bold;
    margin-bottom: 20px;
}

.content .texts .button {
    text-decoration: none;
    color: var(--main-light-color);
    padding: 20px;
    margin-top: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #6045C9 !important;
    border-radius: 100px;
    transition: all 0.3s ease;
    color: white;
}

.content .texts .button:hover {
    box-shadow: 0px 0px 40px -10px #6045C9;     
}

@media (max-width: 1137px) {

    .content .texts {
        width: 100%;
        display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
    }

    .content{
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
    }

    .content .texts h1, .content .texts p, .content .texts .button {
        text-align: center;
        justify-self: center;
    }

    .content .texts .button {
        align-self: center;
        justify-self: center;
    }
}

.services {
    margin: 5px;
}

.Div1 {
    display: flex;
    justify-content: center;
  }
  
  @media only screen and (max-width: 1120px) {
    .Div1 {
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media only screen and (max-width: 764px) {
    .card {
      width: 28rem !important;
    }
  }
  
  @media only screen and (max-width: 496px) {
    .card {
      width: 18rem !important;
    }
    .button1 {
      margin: 10px !important;
    }
  }
  
  .cookiesMessage {
    padding: 40px;
    position: fixed;
    bottom: 20px;
    background: rgb(83,78,177);
    background: linear-gradient(90deg, rgba(83,78,177,1) 0%, rgba(136,63,223,1) 0%, rgba(59,13,108,1) 100%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    z-index: 101;
    -webkit-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    max-width: 240px;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 0px 10px 0px rgb(118, 43, 179);
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    animation: slideInFromBottom 0.8s ease;
    -webkit-animation: slideInFromBottom 0.8s ease;
}


  @keyframes slideInFromBottom {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  } 

  .cookiesMessageInvisible {
    padding: 40px;
    position: fixed;
    bottom: 20px;
    background: rgb(83,78,177);
    background: linear-gradient(90deg, rgba(83,78,177,1) 0%, rgba(136,63,223,1) 0%, rgba(59,13,108,1) 100%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    z-index: 101;
    -webkit-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    max-width: 240px;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 0px 10px 0px rgb(118, 43, 179);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    animation: slideInFromBottom 0.8s ease;
    -webkit-animation: slideDownFromTop 0.8s ease;
  }

  @keyframes slideDownFromTop {
    from {
      opacity: 1;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
}
    to {
      opacity: 0;
      transform: translateY(100%);
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
      -o-transform: translateY(100%);
      display: none;
}
  } 
  
.xbtn {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff !important;
    border-radius: 100% !important;
    -webkit-border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    -ms-border-radius: 100% !important;
    -o-border-radius: 100% !important;
    border-color: #302851;
}

.xbtn:hover {
    background-color: #6045C9 !important;
}


.accordionCollapse {
  transition: height 0.3s ease-in-out;
}

.accordionCollapse.collapsing {
  opacity: 0;
}